
.norma{
    width: 100%;
    padding: 20% 5%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 50vh;
    background-image: url('https://imagedelivery.net/1n9Gwvykoj9c9m8C_4GsGA/6f344273-4c43-4154-5462-b710d2b8e800/public');
    background-position: center;
    background-size: cover;
    color: var(--color--white);
}

.norma div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    text-align: left;
    width: 50%;
}

.norma div:nth-child(2){
    width: 50%;
    height: 45vh;
}

.norma div:nth-child(2) video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.norma div h1{
    font-size: 28px;
    font-weight: 400;
    width: 100%;
}

.norma div button{
    background-color: var(--color--green);
    color: var(--color--white);
    padding: 15px 20px;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all .1s ease;
}

.norma div p {
    font-size: 16px;
    width: 80%;
}

.sobre{
    height: 70vh;
    width: 100%;
    padding: 0% 5%;
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


.sobre-left{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.sobre-left img{
    width: 150px;
}

.sobre-left h1{
    font-size: 2rem;
    font-weight: 400;
    color: var(--color--blue);
}

.sobre-left p{
    font-size: .9rem;
    width: 85%;
    font-weight: 400;
}

.sobre-left p b{
    font-weight: 500;
}

.sobre-left button{
    background-color: var(--color--green);
    color: var(--color--white);
    padding: 15px 20px;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all .1s ease;
}

.sobre-left button:hover{
    background-color: var(--color--white);
    color: var(--color--dark--blue);
    border: 1px solid var(--color--dark--blue);
}

.sobre-right{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.sobre-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px){
    .norma{
        height: auto;
        padding: 15% 2.5%;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }

    .norma div{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .norma div:nth-child(2){
        width: 100%;
    }

    .norma div video{
        width: 100%;
    }

    .norma h1 {
        width: 100%;
    }

    .norma p{
        width: 100%;
    }
    .sobre{
        flex-direction: column;
        height: auto;
        padding: 10% 2.5%;
    }

    .sobre-left {
        width: 100%;
        align-items: center;
    }

    .sobre-left img{
        width: 120px;
    }

    .sobre-left h1 {
        text-align: center;
        font-size: 1.4rem;
    }

    .sobre-left p {
        font-size: .9rem;
        text-align: center;
    }

    .sobre-left button{
        font-size: 12px;
        padding: 10px 20px;
    }

    .sobre-right {
        width: 100%;
        height: 30vh;
    }
}